<template name="cardDetails">

  <div class="panel panel-default">
  <div class="panel-body">
    {{body}}
    location: {{location}}
    coordinates: {{latitude}}, {{longitude}}
    geolocationtype: {{geolocationType}}
    <ul>
      <li><h6>Tags</h6></li>
      <li>People: {{tags.people}}</li>
      <li>Places: {{tags.locations}}</li>
      <li>Orgs: {{tags.orgs}}</li>
      <li>Other: {{tags.nouns}}</li>
    </ul>

  </div>
</div>
  <ul class="comments">
    {{#each comments}}
      {{> commentItem}}
    {{/each}}
  </ul>
  {{#if currentUser}}
    {{> commentSubmit}}
  {{else}}
    <p>Please log in to leave a comment.</p>
  {{/if}}
</template>
