<!-- all templates in the list folder are basically duplicates created from the templates in the posts folder, but using easy-search for search / sorting,
the originals can safely be be deleted once the dependant templates are updated (map card view and posts by source) -->

<template name="cardDetails">

  <div class="col-md-6">
  <div class="panel-body">
    {{body}}
    location: {{location}}
    coordinates: {{latitude}}, {{longitude}}
    geolocationtype: {{geolocationType}}
    <ul>
      <li><h6>Tags</h6></li>
      <li>People: {{tags.people}}</li>
      <li>Places: {{tags.locations}}</li>
      <li>Orgs: {{tags.orgs}}</li>
      <li>Other: {{tags.nouns}}</li>
    </ul>

  </div>
  <div class="comment-section">
    {{> commentsBox id=detailsCommentID}}
</div>
</div>
<div class="col-md-6">
  <div id="details-map"></div>
</div>

<script>

  $(window).resize(function () {
  var h = $(window).height(), offsetTop = 64; // Calculate the top offset
  $mc = $('#details-map');
  $mc.css('height', (h - offsetTop));
}).resize();

</script>

</template>
