.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input:focus {
    outline:none;
}

#list-graph {
  display:none;
}

#graph-button {
  float:right;
  color: #7F7F84;
}

#graph-button:hover {
  color: #2196F3;
}

.results-count {
  margin-left: 15px;
  margin-bottom: 0px;
  font-size: 12px;
  font-style: italic;
}
