<template name="list">
    <div class="container-fluid">
        <div class="row" style="margin: 10px;">
            <div id="source-search">
                <i class="fa fa-search" aria-hidden="true"></i>
                {{> EasySearch.Input indexes=searchIndexes}}
                {{searchCount}}
                <button id="newest-sort" type="button" value="newest" class="btn btn-link sorting">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    Recent</button>
                <button type="button" value="verificationScore" class="btn btn-link sorting">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    Score</button>
                <button type="button" id="graph-button" class="btn btn-link">
                    <i class="fa fa-area-chart" aria-hidden="true"></i>
                    </button>
            </div>
            <div id="list-graph" class="container-fluid">
              {{#EasySearch.Each index=listGraphIndex attributes=inputAttributes}}
                <!-- {{graphData}} -->
              {{/EasySearch.Each}}
            </div>
            {{#EasySearch.Each index=listIndex attributes=inputAttributes}}
                <div class="col-md-3" style="padding-left: 5px; padding-right: 5px; padding-bottom: 10px;">
                    {{> post_card}}
                   <!-- need a helper here to build data array for graph maybe? -->
                   {{listSearchResults}}

                </div>
            {{/EasySearch.Each}}
            {{> EasySearch.LoadMore index=listIndex attributes=loadMoreAttributes content="Load more" count=12}}
            {{#EasySearch.IfNoResults index=listIndex}}
                <div class="notice notice-danger">
                    <strong>No</strong>
                    results found!
                </div>
            {{/EasySearch.IfNoResults}}

<!-- TODO: need to decide if spinner here makes searches look too busy, maybe remove or tweak card fade in animation -->
            {{#EasySearch.IfSearching index=listIndex}}
                <div>{{>spinner}}</div>
            {{/EasySearch.IfSearching}}
        </div>
    </div>
</template>
