.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input:focus {
    outline:none;
}

#list-graph {
  display:none;
}

#graph-button {
  float:right;
  color: #7F7F84;
}

#graph-button:hover {
  color: #2196F3;
}
