.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input:focus {
    outline:none;
}

.list-graph {
  display: none;
}

.graph-show {
  display:block;
}
