<template name="createTwitterFeed">
 
<div class="container-fluid">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->

<div class="row">
  <div id="submit-report-form" class="col-xs-12 col-md-6"> <!-- row containing submit report form -->
 
 <h6 style="background-color: #F5F5F5"><img style="width: 30px; height: 30px"  src="Twitter_icon_blue.png"><b> Create a new Twitter feed</b></h6>
    
  <form class="main form">
    <fieldset>
    
    
    <div class="form-group">
      <label for="inputName" class="col-lg-2 control-label"><b>Name</b></label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="inputName" placeholder="Name your feed">
              </div>
            </div>
    
            
    
            <div class="form-group">
              <label for="textArea" class="col-lg-2 control-label"><b>Query</b></label>
              <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="textArea"></textarea>
                <span class="help-block">Specify keywords or twitter hashtags to collect</span>
                <div class="checkbox">
                  <label for="locationCheck">
                    <input type="checkbox" id="locationCheck"> Search by location
                  </label>
                 </div>
              </div>
              
            </div>

    
    
    
    
    
  <div id="locationControls" class="animated slideInLeft"> 
       
   <div class="form-group">
     <label for="address" class="col-lg-2 control-label"><b>Location</b></label>
              <div class="col-lg-10">
                <input name="location" type="text" value="" class="form-control" id="address" placeholder="Street Address" disabled="">
                <span class="help-block">Drag and drop the marker on the map to pick a location</span>
              </div>
              </div>
      
     


<div class="col-lg-10 col-lg-offset-2">
      <input type="text" id="radius" class="form-control" placeholder="Enter search radius in meters"/>
      <span class="help-block">Enter a search radius in meters</span>
  
  <span class="label label-default">Lat.:</span> 
    <input type="text" id="lat" disabled=""/>  
 
  
    <span class="label label-default">Long.:</span> 
    <input type="text" id="lon" disabled=""/> 
      
</div>             
    
      </div>       
    
   
    
      <div class="col-lg-9 col-lg-offset-8" style="margin-top: 10px">
        <button type="reset" class="btn btn-link"><i class="fa fa-eraser"></i> Clear</button>
        <button type="submit" class="btn btn-link"><i class="fa fa-paper-plane"></i> Submit</button>
      </div>
     
    </fieldset> 
  </form>
    
  
    
  </div>
  <div class="col-xs-6 col-md-6">  <!-- row containing location picker map -->
    <div id="mapControls" class="animated slideInRight">
    <div id="us2" style="width: 100%; height: 900px;"></div>	
    </div>
  </div>
  
  </div>
  </div>
 
  
</template>