/*#content-container {
  height: calc(100%);
  padding-left: 20px;
}*/

#list-comments {
  display:none;
}

#comments-button {
  display: inline;
  color: #7F7F84;
}

#comments-button:hover {
  color: #2196F3;
}

#side-nav {
    position: relative;
    z-index: 1;
    height: 100vh;
    overflow: scroll;
    padding-top: 20px;
}

#sources-content {
    height: 100vh;
    overflow: scroll;
}

#sources-content::-webkit-scrollbar {
    display: none;
}


/*#content-wrapper {

position: relative;
z-index: 2;
  overflow-y: scroll;
padding-left: 0px;
background-color: #FFFFFF;
  height: calc(100%);

}*/

#side-nav::-webkit-scrollbar {
    display: none;
}

#graph {
    position: relative;
    z-index: 2;
    margin-left: 60px;
    padding-left: 60px;
    background-color: #FFFFFF;
}

.visible {
    display: inline;
}

.hidden {
    display: none;
}

.graph-button {
    float: right;
    display: inline-block;
    margin-top: 6px;
    margin-right: 5px;
    background-color: transparent;
    color: #7F7F84;
}

.graph-button:hover {
    color: #2196F3;
}

.load-more-button {
    width: 100%;
}

.load-more-button:hover {
    background-color: #EEEEEE;
}

#source-search {
    margin-bottom: 20px;
    margin-top: -10px;
    margin-left: 10px;
}

.source {
    cursor: pointer;
}

.source:hover {
    background-color: #EEEEEE;
}

.fa-twitter {
    color: #00ACED;
}

.fa-rss {
    color: #FF9900;
}

.fa-instagram {
    color: #895A4D;
}

.verification-source {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-left: 0px;
    border-right: 0px;
}

.verification-container {
    font-size: 0;
}

.verification-container div {
    display: inline-block;
    width: 100px;
    height: 30px;
    font-size: 12px;
}

.verification-source-1 {
    background-color: #F29A7C;
}

.verification-source-2 {
    background-color: #F0AD81;
}

.verification-source-3 {
    background-color: #EFBB86;
}

.verification-source-4 {
    background-color: #EEC987;
}

.verification-source-5 {
    background-color: #EDD689;
}

.verification-source-6 {
    background-color: #E9DC89;
}

.verification-source-7 {
    background-color: #E3E08C;
}

.verification-source-8 {
    background-color: #CAD695;
}

.verification-source-9 {
    background-color: #ACCD94;
}

.verification-source-10 {
    background-color: #82CA99;
}

.unverified-source {
    background-color: #7f7f84;
}

.source-container {
    font-size: 0;
}

.source-container div {
    display: inline-block;
    font-size: 12;
}
