<template name="sources">
  <title>Sources</title>
  <h5>Sources</h5>
    <div>
      <ul id="accordion">
        {{#each listSources}}
        <div class="row">
          <li data-parent="#accordion"><button class="list-group-item source-button" style="padding: 0px 0px 0px 0px" type="button" data-toggle="collapse" data-target="#{{sourceID}}" aria-expanded="false" aria-controls="collapseExample">
    <img style="float: left; width: 50px; height: 50px" src="{{sourceType}}"><span class="source-author"> {{author}}</span><span class="badge badge-count">{{postCount}}</span>
  </button></li>
        <div class="collapse" id="{{sourceID}}">
          {{#each postsBySource}}
          <div class="col-md-3" style="padding-left: 5px; padding-right: 5px; padding-bottom: 5px; padding-top: 5px;">
           <div class="post-card">
          {{> postItem}}
            </div>
            </div>
        {{/each}}
        </div>
      </div>
        {{/each}}
      </ul>
    </div>
</template>
