
/*#content-container {
  height: calc(100%);
  padding-left: 20px;
}*/

#side-nav {

  position: relative;
  z-index: 1;
  height:100vh;
  overflow: scroll;
  padding-top: 20px;
}

#sources-content {
  height:100vh;
  overflow: scroll;

}

#sources-content::-webkit-scrollbar {
    display: none;
}

/*#content-wrapper {

position: relative;
z-index: 2;
  overflow-y: scroll;
padding-left: 0px;
background-color: #FFFFFF;
  height: calc(100%);

}*/

#side-nav::-webkit-scrollbar {
    display: none;
}

#graph {

position: relative;
z-index: 2;
margin-left: 60px;
padding-left: 60px;
background-color: #FFFFFF;


}

.visible {
  display: inline;
}

.hidden {
  display: none;
}

.graph-button {
  float: right;
  display: inline-block;
  margin-top: 6px;
  margin-right: 5px;
  background-color: transparent;
  color: #7F7F84;
}

.graph-button:hover {
  color: #2196F3;
}

.load-more-button {
  
  width: 100%;

}

.load-more-button:hover {
  background-color: #EEEEEE;
}


#source-search {
  margin-bottom: 20px;
  margin-top: -10px;
  margin-left: 10px;
}

.source {
  cursor: pointer;
}

.source:hover {
  background-color: #EEEEEE;
}

.fa-twitter {
  color: #00ACED;
}

.fa-rss {
  color: #FF9900;
}

.fa-instagram {
  color: #895A4D;
}
